h1{
  font-size: 60px;
  text-align: center;
  font-style: italic;
}
h2{
  font-style: italic;
  font-size: 30px;
}

body {
  border: 2px solid black;
  padding: 25px;
  background: url("w3css.gif");
  background-repeat: space;
  background-image: url("photographer.jpg"); /* The image used */
  background-color: skyblue; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:auto; /* Resize the background image to cover the entire container */
  /* overflow:scroll; width:100%; height:100%;"> */
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 100%;
}
}
#messages{
  font-size: 15px;
  text-decoration:underline;
  text-indent: 10px;
  text-decoration-style:solid;
  padding-left: 7px;
  border-left: solid #f2f2f2 16px;
}
.container {
  border: 2px solid #dedede;
  background-color:white;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0;
}
