h1{
  text-shadow: -1px -1px 1px mediumslateblue,
  0px 4px 1px rgba(0,0,0,0.5),
  4px 4px 5px rgba(0,0,0,0.7),
  0px 0px 7px rgba(0,0,0,0.4);
  text-align: center;
  font-size: 70px;
}
body{
  background-color:mediumseagreen;
}

.btm{
  background-color: red;
  border:
  color: white;
  padding: 35px 45px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 35px;
}

.lbutton{
  background-color:grey;
  border: none;
  color: black;
  padding: 35px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
}
.obutton{
  background-color:grey;
  border: none;
  color: black;
  padding: 35px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
}
p{
  text-align: center;
  font-size: 50px;
  font: serif georgia;
  color: mediumblue;
}
.div1{
  text-align: center;
  font-style: italic;
}
.div2{
  text-align: center;
  font-style: italic;
}

.div3{
  text-align: center;
  font-style: italic;
}
