body{
  background-image:url("https://ak9.picdn.net/shutterstock/videos/112219/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  text-align: center;
  font-size: 200px;
  color: white;

}

.results{
  font-style: helvetica;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 100px;
}

.actualResults{
  text-align: center;
  font-size: 20px;

}

.title-top-vibes{
  text-align: center;
  font-size: 100px;
  color: white;
}


.allResults{
  color: black;
  text-align: center;
  position: relative;
  left: 1200px;
  font-size: 90px;
  background-color: white;
  width: 3000px;
  border: 50px solid black;
  padding: 50px;
  margin: 20px;
}

.bottom-btn{
  font-size: 60px;
  color: white;
  background-color: blue;
  width: 350px;
  border: 15px solid black;
  padding: 50px;
  margin: 10px;
}

.navbar {
  background: #FFAB00;
}
.nav-link,
.navbar-brand {
  color: #FFAB00;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #FFAB00;
}
.navbar-collapse {
  justify-content: flex-end;
