/* For the vibe.html page */
.vibe{
  background-image: url("http://getwallpapers.com/wallpaper/full/c/c/7/667533.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: aqua;
      border:90% solid #ccc;
  font-size: 20px
}
.center{
  text-align: center;
  font-style: bold;
}

.information{
  text-align:center;
}

html{
  font-family: helvetica;
}



/* For the main.html page */
.main {
padding-left: 100px;
padding-right: 100px;
}

.links {
 text-align: center;
 /* clear:both; */
}
#link1 {
  float: left;
  display:flex;
  width:25%;
  text-align: left;

}

#link1 h1 {
  margin: auto;
}

#link2 {
  width: 50%;
  float: left;
  text-align: center;
  /* margin: auto; */
  display:flex;
}
#link2 h1 {
  margin: auto;
}

#link3 {
  float: right;
  display:flex;
  text-align: right;
  width:25%;
}
#link3 h1 {
  margin: auto;
}
