body {
padding-left: 100px;
padding-right: 100px;

}
.links {
 text-align: center;
}
#link1 {
  float: left;
}

#link2 {
  display: inline;
  float: center;
}

#link3 {
  display: inline;
  float: right;
}
