<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="../css/register.css"/>
    <title>Register Page</title>
  </head>
<body>
    {%if user%}
    {%if not existing_user %}
        Thank you for registering!
    {%endif%}
    You are now logged in!
    Log out here: <a href="{{logout_url}}"> Logout! </a>
    {%else%}
    You are a new user, please provide info!
    Log in here: <a href="{{login_url}}"> Login! </a>
    {%endif%}
    <br>
     <a href="/"> Back to home page! </a>
  </body>
</html>
